.App {
  background-color: black;
  width: 100vw;
  scroll-behavior: smooth;
}

.carousel-img {
  transition: 0.3s;
  opacity: 0.7;
}

.carousel-img:hover {
  opacity: 1;
  transition: 0.3s;
  cursor: pointer;
  transform: scale(1.025);
  position: relative;
  z-index: 1;
}

.img__logo {
  width: 150px !important;
}

#avatar {
  width: 35px !important;
}

@media only screen and (min-width: 992px) {
  .carousel-item {
    margin-left: 80px;
  }

  .carousel-control-next-icon {
    margin-left: 26px;
  }
}

@media only screen and (max-width: 991px) {
  #navNone {
    display: none;
  }

  .navbar-dark .navbar-toggler-icon {
    color: red !important;
  }
}